/* service detail section style */

.service-detail-section{
    width:100%;
}

.service-detail-wrapper{
    max-width:1120px;
    margin:auto;
    width:100%;
    padding:16px 20px 64px;
}

.back-to-service{
    background-color: #232323;
    width:40px;
    height:40px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}
.back-to-service:hover{
    background-color: #5373E3;
}
.back{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-bottom:16px;
}
.back>p{
    font-family: "sa-helvetica-roman";
    font-weight: 400;
    font-size:14px;
    line-height: 18.2px;
    color:#DCDCDC;
    margin-left:16px;
    font-feature-settings: "case" on; 
}

.service-banner{
     max-width:1128px; 
    height:287px;
}
.service-banner::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    z-index: -1;
}

.service-banner> img{
    width:100%;
    height:100%;
    border-radius:4px;
    object-fit: cover;
}

.service-details{
    width:100%;
    margin-top:24px;
}

.service-details>h2{
    font-family: "sa-helvetica-bold";
    font-weight: 700;
    font-size:24px;
    line-height: 31.2px;
    color:#DCDCDC;
    margin-bottom:24px;
    font-feature-settings: "case" on; 
}

.service-details >p{
    font-family: "sa-helvetica-light";
    font-weight:400;
    font-size:16px;
    line-height: 25.6px;
    color:#DCDCDC;

}

.service-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin:24px 0;
    
}

.service-img>img {

   max-width:179px;
   width:100%;
   margin:4.5px;
   border-radius: 4px;
   
}

.services{
    width:100%;
    margin:auto;
}
.services>h2{
     font-family:"sa-helvetica-bold";
     font-weight:700;
     font-size: 24px;
     line-height: 31.2px;
     color:#DCDCDC;
     margin-top:48px;
     font-feature-settings: "case" on; 
}

.view-more-service {
    width: 100%;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: scroll;
    gap: 16px;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    
  }

  .view-more-service::-webkit-scrollbar {
    display: none;
  }


  
  .main-service-info {
    flex: 0 0 auto;
    max-width:277px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .service-navigate-link>h3{
     font-family: "sa-helvetica-bold";
      font-weight: 700;
      font-size:18px;
      line-height: 23.4px;
      color:#DCDCDC;
      margin:24px 0 12px;
      cursor: pointer;
      transition: color 0.3s ease;
      font-feature-settings: "case" on; 
  }
  .service-navigate-link>h3:hover{
    color:#5373E3;
  }


  .main-service-info>p{
    font-family: "sa-helvetica-light";
    font-weight: 400;
      font-size:16px;
      line-height: 25.6px;
      color:#8C8C8C;
      margin-bottom:16px;
  }
  .service-img-link > img {
    width: 100%;
    border-radius: 4px;
  }
  
  .view{
      background-color: #080B15;
      color:#ADADAD;
      font-size:14px;
      line-height: 19.04px;
      border:1px solid #3E3E3E;
      border-radius:50px;
      padding:9px 18px;
      cursor: pointer;
      transition: color 0.3s ease; 
      display:block;
  }
  
  .view:hover{
      background-color: #5373e3;
      color:#ffffff;
  }



  @media(min-width:554px){
    .service-img{
        display: flex;
        align-items: center;
        justify-content:flex-start;
        flex-wrap: wrap;
        margin:24px 0;
    }
    .service-img>img{
        margin:8px;
    }
  }

  @media(min-width:768px){
    .service-img>img{
       max-width:258px;
       width:100%;
       margin:0 12px 12px 0;
    }
    .service-details >p{
        width:650px;
    }
    .service-img{
        display: flex;
        align-items: center;
        margin:24px 0;
        
    }
  }

  @media(min-width:991px){
    .service-data-main{
        max-width: 1120px;
        width: 100%;
        margin: 32px auto 0;
        justify-content: center;
        gap: 20px;
    }
    .main-service-info {
        max-width: 363px;
      }
   
  }

  @media(min-width:1024px){
    .service-details>h2{
        margin-bottom:32px;
    }
    .service-img{
        display: flex;
        align-items: center;
        justify-content:flex-start;
        margin:24px 0;
        
    }
    .main-service-info{
        flex:unset;
    }
    .services>h2{
        margin-top:72px;
   }
   .view{
    display:none;
}

  }