/* styles for contact  section */

.contact-section {
  width: 100%;
  border-top: solid 1px #2d2d2d;
}

.contact-wrapper{
   max-width:1120px;
   padding: 32px 20px 60px;
   width:100%;
   margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
  
}


.contact-container {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "contact-title"
    "contact-map"
    "contact-info";
}

.contact-title{
    grid-area: contact-title;
    margin-bottom:24px;
    align-self: flex-start;
}
.contact-title>h3{
    font-family: 'helvetica';
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
    color:#DCDCDC;
}

.contact-map{
    grid-area: contact-map;
}

.contact-info{
    grid-area: contact-info;
    margin-top:32px;
    align-self:flex-start;
}

.contact-info>p{
    font-family: "helvetica";
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color:#DCDCDC;
    font-size:15px;
    line-height: 21px;
    margin-bottom:24px;
}

.contact-info>p>span{
    font-family: "helvetica";
    font-weight: 400;
    color:#8C8C8C;
    font-size:14px;
    line-height: 19.6px;
    margin-bottom:4px;
}
.contact-info p:last-of-type{
    font-family: "helvetica";
    font-weight: 400;
    font-size:14px;
    line-height: 19.6px;
    color:#8C8C8C;
    margin-bottom:12px;
}

.contact-map {
    padding-bottom:80%;
    position: relative;
    max-width:554px;
    width:100%;
    margin:auto;
     /* height:751px; */
    z-index: -1;
}


.contact-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
   
}
.contact-soc-icons{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.soc-icon-wrapper{
    width: 48px;
    height: 48px;
    background-color: #232323;
    border-radius: 4px;
    margin: 0 16px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* media query for contact section */

@media (min-width:598px){
    .contact-container {
        padding:unset;
        width: 80%;
        align-items: center;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:
          "contact-title"
          "contact-map"
          "contact-info";
      }
      .contact-title{
       text-align: center;
       margin-bottom:0;
    }
    .contact-info{
        align-items: center;
        justify-content: center;
        margin-top:0;
    }
    .contact-info>p{   
        align-items: center;
        justify-content:center;
    }
    .soc-icon-wrapper{   
        margin: 0 8px;    
    }
    .contact-soc-icons{
        align-items: center;
        justify-content:center;
    }
    
}

@media(min-width:1024px){
    .contact-container {
        padding:unset;
        width: 100%;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "contact-title contact-map"
        "contact-info contact-map"
       
                
      }
      .contact-title{
        text-align:left;
     }
     .contact-info{
      
        align-items: flex-start;
        justify-content: flex-start;
    }
    .contact-info>p{   
        align-items:flex-start;
        justify-content:flex-start;
    }
    .soc-icon-wrapper{   
        width:40px;
        height:40px;
        margin: 0 8px 0 0;    
    }
    .contact-soc-icons{
      
        align-items:flex-start;
        justify-content:flex-start;
    }
}