
/* FIRST PAGE MAIN CONTENT */

.banner-slider-section{
    width:100%;
}

.slider-container{
    width:100%;
    position:relative;
}

.banner{
    width:100%;
   
}
.banner > img{
    width:100%;
    min-height:503px;
}

.slider-text-content{
    position: absolute;
    top:0;
    left:0;
}
/* !!!!!! banner */

.about-us-section-main{
    width:100%;
    background-color: #080B15;
}

.about-us-main-wrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding:68px 20px 28px;
}
.about-us-main{
   max-width:554px;
}

.about-us-main>h3{
    font-size:24px;
    line-height: 31.2px;
    color:#DCDCDC;
    margin-bottom:32px;
}
.about-us-main>img{
    width:100%;
    margin-bottom:24px;
}

.about-us-main-text{
    /* width:100%; */
    max-width:469px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-us-main-text >p{
    width:100%;
    font-size:16px;
    line-height: 25.6px;
    color:#DCDCDC;
    /* max-width:469px; */
}
.get-more{
    background-color: #5373E3;
    color:#FFFFFF;
    border:none;
    border-radius:4px;
    padding:14px 28px 14px 28px;
    font-size:14px;
    line-height: 19.6px;
    cursor: pointer;
    align-self: flex-start;
    margin:46px 0 28px;
}



/* media query*/

@media(min-width:1024px){
    .about-us-main-wrapper{
        flex-direction:row;
        align-items: flex-start;
        justify-content: space-around;
      
    }
}